<p>Hi BFS tech folk,</p>

<p>There was a critical error in the MaxCaseLookupApi. The following was presented to the user:</p>

<hr />
<blockquote>
{{{NotFoundResponseHtml}}}
</blockquote>
<hr />

<p>A critical error in this context is an error that someone needs to identify the cause of, and possibly fix.</p>

<p>Critical error possibilities include:</p>
<ul>
  <li>Max is down</li>
  <li>Power Automate is down</li>
  <li>An unanticipated error occurred</li>
</ul>

<p>Particulars:</p>
<ul>
  <li>OneBlinkEnvironment: <strong>{{OneBlinkEnvironment}}</strong></li>
  <li>FormName: <strong>{{FormName}}</strong></li>
  <li>FormId: <strong>{{FormId}}</strong></li>
  <li>MaxCaseLookup_MaxEnvironment: <strong>{{MaxCaseLookup_MaxEnvironment}}</strong></li>
  <li>MaxCaseLookup_MaxProjectName: <strong>{{MaxCaseLookup_MaxProjectName}}</strong></li>
  <li>MaxCaseItemId: <strong>{{MaxCaseItemId}}</strong></li>
</ul>

<p>To prevent your email inbox being flooded, subsequent critical error messages are not emailed for the next <strong>{{CriticalErrorCoolDownMinutes}} minutes</strong>, where sharing the following key: <strong>{{CriticalErrorCoolDownKey}}</strong>, (FormId, MaxProjectName, MaxEnvironment). However all errors will be logged to the OneBlink console. See OneBlink Console > Developer Tools > API Hosting > nswfoodauthority-max-case-lookup.api.oneblink.io > <strong>{{OneBlinkEnvironment}}</strong>.</p>

<p>You've been emailed because you are listed in the notification list of the form's associated App (OneBlink Console > <strong>{{OneBlinkEnvironment}}</strong> > Apps > [Associated App] > Settings > Notifications and/or, if enabled in the App, Default Email Addresses).</p>