<p>Hi BFS tech folk,</p>

<p>There was a critical error in the MaxCaseLookupApi.</p>

<hr />
<blockquote>
{{{ErrorMessageHtml}}}
</blockquote>
<hr />

<p>Possibilities include:</p>
<ul>
  <li>Max is down</li>
  <li>Power Automate is down</li>
  <li>An unanticipated error occurred</li>
</ul>

<p>Particulars:</p>
<ul>
  <li>FormName: {{FormName}}</li>
  <li>FormId: {{FormId}}</li>
  <li>MaxCaseItemId: {{MaxCaseItemId}}</li>
  <li>MaxCaseLookup_MaxProjectName: {{MaxCaseLookup_MaxProjectName}}</li>
  <li>MaxCaseLookup_MaxEnvironment: {{MaxCaseLookup_MaxEnvironment}}</li>
</ul>

<p>To prevent your email inbox being flooded with these critical error messages, the error messages are suppressed for the next {{CriticalErrorCoolDownMinutes}} minutes, where sharing the following key: {{CriticalErrorCoolDownKey}} (FormId, MaxProjectName, MaxEnvironment). However all errors will be logged to the OneBlink console. See OneBlink Console > Developer Tools > API Hosting > nswfoodauthority-max-case-lookup.api.oneblink.io > {{OneBlinkEnvironment}}.</p>