<p>Hi BFS tech folk,</p>

<p>There was a critical error in the MaxCaseLookupApi.</p>

<hr />
<blockquote>
{{{ErrorMessageHtml}}}
</blockquote>
<hr />

<p>Possibilities include:</p>
<ul>
  <li>Max is down</li>
  <li>Power Automate is down</li>
  <li>An unanticipated error occurred</li>
</ul>

<p>Particulars:</p>
<ul>
  <li>FormName: {{FormName}}</li>
  <li>FormId: {{FormId}}</li>
  <li>MaxCaseItemId: {{MaxCaseItemId}}</li>
  <li>MaxCaseLookup_MaxProjectName: {{MaxCaseLookup_MaxProjectName}}</li>
  <li>MaxCaseLookup_MaxEnvironment: {{MaxCaseLookup_MaxEnvironment}}</li>
</ul>